<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            border-radius: 5px;
        }

        body.thumb {
            transform: scale(0.4);
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        }

        main {
            min-height: 80vh;
        }

        [class*='container'] {
            border: 1px dashed #eee;
            background-clip: content-box;
        }

        .row [class*='col'] {
            background-color: #efefef;
            background-clip: content-box;
        }

        .nav-item {
            background-color: #eeeeff;
            background-clip: content-box;
        }
    </style>
</head>
<body>
<header class="py-3 mb-4 border-bottom shadow">
    <div class="container-fluid align-items-center d-flex">
        <div class="flex-shrink-1">
            <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none"><i class="bi bi-person-workspace fs-1"></i> </a>
        </div>
        <div class="flex-grow-1 d-flex align-items-center">
            <form class="w-100 me-3" style="margin-left:20px;">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Search...">    
            <div class="input-group-append">
                <button class="btn btn-warning border-2" type="button" style="margin-left:-2px;z-index: 0;">
                    <i class="bi bi-search"></i>
                </button>
            </div>
            </div>
            </form>  
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title={{admin.lastLoggedIn}}>
                <span *ngIf="admin==undefined"></span>
                <span *ngIf="admin!=undefined">{{ admin.adminName }}</span>
            </button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="showMyProfile()">My Profile</a></li>
              <li *ngIf="isSuperAdmin==true"><a class="dropdown-item" routerLink="adminslist">View Admins</a></li>
              <li *ngIf="isSuperAdmin==true"><a class="dropdown-item" routerLink="changes">Track Changes</a></li>
              <li *ngIf="isSuperAdmin==true"><a class="dropdown-item" routerLink="register">Add New Admin</a></li>
              <li><a class="dropdown-item" (click)="editMyProfile()">Edit Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" (click)="callLogout()">Logout</a></li>
            </ul>
          </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-3">
        <div class="bg-light border rounded-3 p-1 h-100 sticky-top">
        <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between">
            <li>
                <a routerLink="customers"  class="nav-link px-2 text-truncate"><i class="bi bi-people fs-5" style="color:gray;"></i>
                    <span class="d-none d-sm-inline" style="margin-left:5px;font-weight: bold;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:blueviolet;">Customers</span> </a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
                <a routerLink="orders" class="nav-link px-2 text-truncate"><i class="bi bi-card-text fs-5" style="color:gray;"></i>
                    <span class="d-none d-sm-inline" style="margin-left:5px;font-weight: bold;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:blueviolet;">Orders</span> </a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
                <a routerLink="products" class="nav-link px-2 text-truncate"><i class="bi bi-bricks fs-5" style="color:gray;"></i>
                    <span class="d-none d-sm-inline" style="margin-left:5px;font-weight: bold;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:blueviolet;">Products</span> </a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
                <a href="#" class="nav-link px-2 text-truncate"><i class="bi bi-inboxes" style="color:gray;"></i>
                    <span class="d-none d-sm-inline" style="margin-left:5px;font-weight: bold;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:blueviolet;">Suppliers</span> </a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
                <a href="#" class="nav-link px-2 text-truncate"><i class="bi bi-gift-fill" style="color:gray;"></i>
                    <span class="d-none d-sm-inline" style="margin-left:5px;font-weight: bold;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:blueviolet;">Offers</span> </a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
                <a href="#" class="nav-link px-2 text-truncate"><i class="bi bi-people-fill" style="color:gray;"></i>
                    <span class="d-none d-sm-inline" style="margin-left:5px;font-weight: bold;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:blueviolet;">Support</span> </a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
                <a href="#" class="nav-link px-2 text-truncate"><i class="bi bi-cash-stack" style="color:gray;"></i>
                    <span class="d-none d-sm-inline" style="margin-left:5px;font-weight: bold;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:blueviolet;">Payment Details</span> </a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
                <a href="#" class="nav-link px-2 text-truncate"><i class="bi bi-graph-up-arrow" style="color:gray;"></i>
                    <span class="d-none d-sm-inline" style="margin-left:5px;font-weight: bold;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:blueviolet;">Analysis</span> </a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
                <a href="#" class="nav-link px-2 text-truncate"><i class="bi bi-briefcase" style="color:gray;"></i>
                    <span class="d-none d-sm-inline" style="margin-left:5px;font-weight: bold;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:blueviolet;">Delivery Partners</span> </a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
                <a href="#" class="nav-link px-2 text-truncate"><i class="bi bi-info-circle" style="color:gray;"></i>
                    <span class="d-none d-sm-inline" style="margin-left:5px;font-weight: bold;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:blueviolet;">Help</span> </a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
                <button class="nav-link px-2 text-truncate" (click)="callLogout()"><i class="bi bi-box-arrow-left" style="color:gray;"></i>
                    <span class="d-none d-sm-inline" style="margin-left:5px;font-weight: bold;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:blueviolet;">LogOut</span> 
                </button>
            </li>
        </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="bg-light border rounded-3 p-3">
            <!-- <div class="d-flex justify-content-center">
                <img style="width: 20%;" src="../../assets/images/admin.svg" alt="admin work">
            </div> -->
            <router-outlet></router-outlet>
        </div>  
    </div>
</div>
</div>
<!-- <div style="position: fixed;right:2%;bottom:3%;">
    <a href="#"><h1><i class="bi bi-chat-right-dots-fill m-2 fs-2" style="color: blueviolet;"></i></h1></a>
</div> -->
</body>
</html>


<div class="border border-dark bg-light opacity-50" style="position:fixed;left:0%;top:0%;height: 100%;width: 100%;" *ngIf="showProfile || editProfile">
</div>
<div class="border border-dark bg-light shadow box-shadow" style="position:fixed;left:40%;top:35%;z-index:1" *ngIf="showProfile">
    <div class="toast-header opacity-100" style="color: blueviolet;">
        <strong class="me-auto"> My Profile </strong>
        <button type="button" class="btn-close" (click)="closeMyProfile()"></button>
        </div>
        <div class="toast-body">
        <table>
            <tr>
                <i class="bi bi-person-bounding-box fa-2x"></i>
            </tr>
            <tr>
                <td><small style="font-size: 12px;">Admin ID</small></td>
                <td><small style="font-size: 12px;">#{{admin.adminId}}</small></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{admin.adminName}}</td>
            </tr>
            <tr>
                <td>Mail ID</td>
                <td>{{admin.email}}</td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td>{{admin.mobile}}</td>
            </tr>
            <tr>
                <td>Last Logged In</td>
                <td>{{admin.lastLoggedIn}}</td>
            </tr>
            <tr>
                {{admin.contributions|json}}
            </tr>
        </table>
    </div>
</div>

<div class="border border-dark bg-light shadow box-shadow" style="position:fixed;left:40%;top:10%;z-index:1" *ngIf="editProfile">
    <div class="toast-header opacity-100" style="color: blueviolet;">
        <strong class="me-auto"> Edit My Profile </strong>
        <button type="button" class="btn-close" (click)="closeMyProfile()"></button>
        </div>
        <div class="toast-body">
        <table>
            <tr>
                <td><small style="font-size: 12px;">{{admin.adminName}}</small></td>
            </tr>
        </table>
        <div>
            <form class="form" #editForm="ngForm">
                <small style="color: blueviolet;">#{{admin.adminId}} </small><br>
                <label for="mail">Name:</label>
                <input class="form-control" [(ngModel)]="admin.adminName" [ngModelOptions]="{standalone: true}">
                <label for="mail">Mail ID:</label>
                <input class="form-control" type="email" name="" id="mail" [(ngModel)]="admin.email" [ngModelOptions]="{standalone: true}">
                <label for="mobile">Mobile:</label>
                <input class="form-control" type="tel" id="mobile" [(ngModel)]="admin.mobile" [ngModelOptions]="{standalone: true}">
                <button class="btn" type="button" style="background-color: blueviolet;color:white;" (click)="saveMyProfile()">Save</button>
            </form>
        </div>
    </div>
</div>

